header{
    background-color: #BEDAE7;
    text-align: center;
    padding-left: 35%;
    display: flex;
justify-content: space-between;
}

.mentality{
    color: #0F2F64;
    background-color: #4F70A8;
    border-radius: 10px;
    width: 30%;

}
body{
    background-color: #e8f8ff;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.phone{
    width: 50%;
    margin-left: 23%;
    text-align: center;
    background-color:#F2FBFF;
    border-radius: 5px;
}

h1{
    text-align: center;
    color: #0F2F64;
}

.box{
    background-color: #BEDAE7;
    border-radius: 5px;
    width: 30%;
    margin-left: 35%;
    padding-bottom: 1%;
    padding-top: 1%;
}

p{
    text-align: center;
    color: #0F2F64;

}

.phonee{
    margin-top: 5%;
}

button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #4F70A8;
    color: #0F2F64;
    border:none;
    width: 50%;
    height: 40px;
    font-size: 20px;
    margin-top: 5%;
}

input{
    border: none;
    border-radius: 5px;
    background-color: #D2EDF9;
    height: 70px;
    width: 70%;
    margin-bottom: 5%;
}