body {
    background-color: #e8f8ff;
    font-family: sans-serif;
    margin: 0; /* Убираем стандартные отступы body */
    padding: 0;
}

img {
    display: block;
    max-width: 100%; /* Адаптивность изображений */
    height: auto;
    margin: 20px auto; /* Отступы сверху и снизу, центрирование */
}

h1 {
    text-align: center;
    color: #0F2F64;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Занимает всю высоту экрана */
    padding: 20px; /* Отступы для контента */
}

.box, .box2 {
    background-color: #BEDAE7;
    border-radius: 13px;
    padding: 20px;
    width: 80%; /* Занимает 80% ширины на мобильных */
    max-width: 500px; /* Максимальная ширина на больших экранах */
    margin: 20px auto; /* Центрирование и отступы */
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.group-item {
    margin-bottom: 15px;
}

input {
    width: 100%; /* Занимает всю ширину контейнера */
    height: 40px;
    border-radius: 7px;
    padding: 5px;
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
    border: 1px solid #A3C1CE; /* Добавляем границу */
}

p {
    color: #0F2F64;
    font-size: 16px;
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    border-radius: 7px;
    background-color: #A3C1CE;
    color: #0F2F64;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 20px;
    cursor: pointer; /* Курсор при наведении */
}

button:hover {
    background-color: #85A1AC; /* Изменение цвета при наведении */
}

.password {
    position: relative;
}

.password-control {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('eye-icon.png') 0 0 no-repeat; /* Замените на иконку */
    cursor: pointer;
}

.password-control.view {
    background: url('eye-icon-closed.png') 0 0 no-repeat; /* Замените на иконку */
}

a {
    color: #0F2F64;
    text-decoration: none;
}

.text {
    text-align: center;
    font-size: 18px;
    margin: 20px 10px;
}

.phone {
    background-color: #F2FBFF;
    color: #0F2F64;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    margin-top: 15px;
}

/* Медиа-запрос для больших экранов */
@media (min-width: 768px) {
    .box, .box2 {
        width: 50%; /* Увеличение ширины на больших экранах */
        max-width: 400px; /* Устанавливаем максимальную ширину */
        margin: 20px auto; /* Центрируем */
    }

    .container {
        padding: 30px;
    }

    .text {
        font-size: 20px;
    }
}

/* Дополнительные стили для больших экранов */
@media (min-width: 992px) {
    .box, .box2 {
        width: 40%;
        max-width: 450px;
    }
}
